<div class="table-wrapper-scroll-y">
<table>
  <tr>
    <th>Id</th>
    <th>Login</th>
    <th>Password</th>
    <th>Email</th>
    <th>First Name</th>
    <th>Last Name</th>
    <th>Update</th>
    <th>Delete</th>
  </tr>
  <tr *ngFor="let user of users">
      <td>{{user.userId}}</td>
      <td> {{user.login}} </td>
      <td> {{user.password}} </td>
      <td>{{user.email}}</td>
      <td> {{user.firstName}} </td>
      <td> {{user.lastName}} </td>
      <td> <a [routerLink]="['../formuser']"  [queryParams]="{userId: user.userId}"><button type="button" class="btn btn-outline-success">Update</button></a></td>
      <td><a [routerLink]="['../users']"><button type="button" class="btn btn-outline-danger" (click)="deleteUser(user)">Delete</button></a></td>

  </tr>
  </table>
</div>
