<div class="container-fluid">
<div class="container">
  <h3>{{dictionaryService.dictionary.orders}}</h3>
  <span><input type="checkbox" [(ngModel)]="hideOdebrane" name="odebrane">{{dictionaryService.dictionary.hideTaken}}</span>
  <span><input type="checkbox" [(ngModel)]="hideDetails">{{dictionaryService.dictionary.hideDetails}}</span>
  <div class="table-wrapper-scroll-y">
  <table class="table table-striped table-hover">
    <thead>
    <tr>
      <th>{{dictionaryService.dictionary.orderNumber}}</th>
      <th>{{dictionaryService.dictionary.orderDate}}</th>
      <th>{{dictionaryService.dictionary.orderDetails}}</th>
      <th>{{dictionaryService.dictionary.changeStatus}}</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let order of orders" [(ngModel)]="tempOrder">
      <ng-container *ngIf="!hideOdebrane ||( hideOdebrane && order.status.statusId != 3)">
      <td width="7%">{{order.orderId}}</td>
      <td>{{order.dateTime | date:'medium'}}</td>
      <td>
          <div class="table-wrapper-scroll-y2">
        <table class="table table-striped table-hover">
          <tbody>
        <tr *ngFor="let orderDetail of orderDetails">
            <ng-container *ngIf="orderDetail.orderTable.orderId === order.orderId && !hideDetails">
                <td>{{orderDetail.dish.dishName}}</td>
                <td> {{orderDetail.dishAmount}}</td>
            </ng-container>
        </tr>
        <tr>
          <td ></td>
          <td><span>{{dictionaryService.dictionary.summary}}: {{order.value}}zł</span></td>
        </tr>
          </tbody>
        </table>
      </div>
      </td>
      <td>
        <select [(ngModel)]="order.status.statusId">
          <option *ngFor="let status of orderStatus" [value]="orderStatus.indexOf(status)+1">{{status}}</option>
        </select>
      </td>
      <td><button type="button" class="btn btn-success" (click)="updateOrder(order)">{{dictionaryService.dictionary.confirm}}</button></td>
      <td> <input type="image" src="assets/images/deletePosition.png" width="35px" height="35px" (click)="deleteOrder(order.orderId)"></td>
    </ng-container>
    </tr>
    </tbody>
  </table>
  </div>
</div>
</div>
