.table-wrapper-scroll-y {
  max-height: 500px;
  overflow-y: auto;
  max-width: 100%;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  }
  .table-wrapper-scroll-y2 {
    max-height: 200px;
    overflow-y: auto;
    max-width: 100%;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    }

