<h3>{{dictionaryService.dictionary.yourOrder}}</h3>
<div class="row">
<div class="col">
<div *ngIf="orderDetails.length === 0; else order">
  <p>Twoje zamowienie jest puste</p>
</div>
<div>
  <ng-template #order>
      <p>{{dictionaryService.dictionary.yourOrder}}: </p>
     <div class="table-wrapper-scroll-y">
      <table class="table table-striped table-hover">
        <thead>
          <tr>
        <th>{{dictionaryService.dictionary.dishName}}</th>
        <th>{{dictionaryService.dictionary.dishType}}</th>
        <th>{{dictionaryService.dictionary.price}}</th>
        <th>{{dictionaryService.dictionary.amount}}</th>
        <th>{{dictionaryService.dictionary.delete}}</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let details of orderDetails" >
          <td width="40%">{{details.dish.dishName}}</td>
          <td>{{details.dish.dishType.dishTypeName}}</td>
          <td>{{details.dish.dishPrice.toFixed(2)}}zł</td>
          <td>{{details.dishAmount}}</td>
          <td> <input type="image" src="assets/images/deletePosition.png" width="35px" height="35px" (click)="delete(details)"></td>
      </tr>
        </tbody>
    </table>
     </div>

      <div>

      </div>
      <div>
      </div>
      <a [routerLink]="['../menu']"><button type="button" class="btn btn-success">{{dictionaryService.dictionary.serachDish}}</button></a>
      <a [routerLink]="['../order-summary']"><button type="button" class="btn btn-success" (click)="addOrder()">{{dictionaryService.dictionary.order}}</button></a>
  </ng-template>
</div>
</div>
<div class="col">
  <h3>{{dictionaryService.dictionary.orderHistory}}</h3>
  <div class="table-wrapper-scroll-y">
  <table class="table">
    <thead>
     <tr>
       <th>{{dictionaryService.dictionary.orderHistory}}</th>
       <th>{{dictionaryService.dictionary.orderDate}}</th>
     </tr>
    </thead>

  <tbody>
    <tr *ngFor="let order of userOrders">
      <td>{{order.orderId}}</td>
      <td>{{order.dateTime | date}}  {{order.dateTime | date: 'shortTime' }}</td>
    </tr>
  </tbody>
</table>
</div>
</div>
</div>
