<div class="login-page">
  <div class="form">
    <form class="login-form">
      <input type="text" placeholder="{{dictionaryService.dictionary.login}}" [(ngModel)]="userName" name="userName"/>
      <input type="password" placeholder="{{dictionaryService.dictionary.password}}" [(ngModel)]="password" name="userName"/>
      <button (click)="login()">Login</button>
      <div *ngIf="incorrect">
        <p style="color:red">Nieprawidłowy login lub hasło</p>
      </div>

      <p class="message">No account?
         <a [routerLink]="['../register']">{{dictionaryService.dictionary.createAccount}}</a></p>
    </form>
     </div>
</div>
