div.row {
  margin: 10px;
  padding-left:0;
  margin-left:0;
}
.table-wrapper-scroll-y {
  max-height: 500px;
  overflow-y: auto;
  max-width: 550px;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  }

