<div class="container-fluid">
<div class="container">
<div class="row">
  <nav class="navbar navbar-expand-lg navbar-light">
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <button type="button" class="btn btn-outline-success" (click)="getDishes()">Wszystko</button>
        <button type="button" class="btn btn-outline-success" (click)="getGlowne()" >Dania głowne</button>
        <button type="button" class="btn btn-outline-success" (click)="getZupy()">Zupy</button>
         <button type="button" class="btn btn-outline-success" (click)="getDesery()">Desery</button>
        <button type="button" class="btn btn-outline-success" (click)="getNapoje()">Napoje</button>
        <ng-container *ngIf="isAdmin === true">
      <a [routerLink]="['../form']" [queryParams]="{dishId: 0}"><button type="button" class="btn btn-success">Dodaj danie</button></a>
    </ng-container>
    <input  type="text" [(ngModel)]="searchDish" placeholder="search dish" ng-keydown="ngOnChang($event)" (change)="ngOnChanges()">
        </div>
    </div>
  </nav>
</div>
  <div class="row">
    <div class="col">
        <div class="table-wrapper-scroll-y">
      <table class="table table-striped table-hover">
        <thead>
        <tr>
          <th>Nazwa</th>
          <th>Cena</th>
          <th>Kategoria</th>
          <th>Details</th>
          <ng-container *ngIf="isAdmin === true">
          <th>Delete</th>
          <th>Update</th>
          </ng-container>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let dish of dishes">

          <td width="40%">{{ dish.dishName }}</td>
          <td>{{ dish.dishPrice.toFixed(2)}} zł</td>
          <td>{{ dish.dishType.dishTypeName }}</td>
          <td (click)="getDetails(dish)"><button type="button" class="btn btn-outline-success" (click)="getDetails(dish)" >Details</button></td>
          <ng-container *ngIf="isAdmin === true">
          <td><a [routerLink]="['../form']" [queryParams]="{dishId: dish.dishId}"><button type="button" class="btn btn-outline-success">Update</button></a></td>
          <td><a [routerLink]="['../menu']" [queryParams]="{isAdmin: true}"><button type="button" class="btn btn-outline-danger" (click)="delete(dish.dishId)" >Delete</button></a></td>
        </ng-container>
        </tr>
        </tbody>
      </table>
      </div>
    </div>
    <div class="col">
      <div class="row">
          <img src={{dish.dishImage}} width="400px" height="300px"/>
      </div>
      <div class="row">Opis: {{ dish.description }} <br /></div>
      <div class="row">
        Skladniki: <br />
        {{dish.ingredients}}

      </div>
      <ng-container *ngIf="user.userType.userTypeId !== 4">
      <div class="row">
        <label>Wprowadz ilosc:</label> <input type="text" [(ngModel)]="amount">
        <input type="image" src="assets/images/incAmount.png" width="35px" height="35px" (click)="incAmount()">
        <input type="image" src="assets/images/decAmount.png"  width="35px" height="35px" (click)="decAmount()  ">
    </div>
    <div class="row">
        <a [routerLink]="['../order']"><button type="button" class="btn btn-success" (click)="addToOrder(dish,amount)">Dodaj do zamowienia</button></a>
    </div>
  </ng-container>
    </div>
  </div>
</div>

