<div class="container">
<h1>Welcome to our Resturant</h1>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
        <a class="nav-item nav-link" [routerLink]="['/login']">Logowanie<span class="sr-only">(current)</span></a>
        <a class="nav-item nav-link" [routerLink]="['/menu']">Menu</a>
        <a class="nav-item nav-link" [routerLink]="['/reserv']">Rezerwacje</a>
        <a class="nav-item nav-link" [routerLink]="['/about']">O nas</a>
        <a class="nav-item nav-link" [routerLink]="['/register']">Rejestracja</a>
        <a class="nav-item nav-link" [routerLink]="['/admin','menu']">Administracja</a>
    </div>
  </div>
</nav>
  <router-outlet></router-outlet>
</div>
