<div class="login-page">
  <div class="form">
    <form [formGroup]="userForm" class="login-form">

      <div class="form-group">
        <input
          type="text"
          id="login"
          formControlName="login"
          class="form-control"
          placeholder="login"
          [(ngModel)]="user.login"
        />
        <div
          class="alert alert-danger"
          *ngIf="login.invalid && (login.touched || login.dirty)"
        >
          <div *ngIf="!!login.errors.required">Login is required</div>
          <div *ngIf="!!login.errors.minlength">
            Login should have at least 5 characters
          </div>
          <div *ngIf="!!login.errors.maxlength">
            Login cannot hae more than 25 characters
          </div>
          <div *ngIf="!!login.errors.pattern">
            You can use only characters and digits
          </div>
        <div *ngIf="!!login.errors.uniqueLogin" >
              Login is already used </div>


        </div>
      </div>
      <div class="form-group">
        <input
          type="password"
          class="form-control"
          id="password"
          formControlName="password"
          placeholder="{{dictionaryService.dictionary.password}}"
          [(ngModel)]="user.password"
        />
        <div
          class="alert alert-danger"
          *ngIf="password.invalid && (password.touched || password.dirty)"
        >
          <div *ngIf="!!password.errors.required">Password is required</div>
          <div *ngIf="!!password.errors.minlength">
            Password should have at least 8 characters
          </div>
          <div *ngIf="!!password.errors.maxlength">
            Password cannot hae more thatn 25 characters
          </div>
        </div>
      </div>
      <div class="form-group">
        <input
          type="password"
          class="form-control"
          id="confirmpassword"
          formControlName="confirmpassword"
          placeholder="{{dictionaryService.dictionary.confirmPassword}}"
          [(ngModel)]="confirmPass"
        />
        <div
          class="alert alert-danger"
          *ngIf="
            confirmpassword.invalid &&
            (confirmpassword.touched || confirmpassword.dirty)
          "
        >
          <div *ngIf="!!confirmpassword.errors.required">Confirmatiom  is required</div>
          Passwords must match
        </div>
      </div>
      <div class="form-group">
        <input
          type="email"
          class="form-control"
          id="email"
          formControlName="email"
          placeholder="email"
          [(ngModel)] = "user.email"
        />
        <div
          class="alert alert-danger"
          *ngIf="email.invalid && (email.touched || email.dirty)"
        >
          <div *ngIf="email.errors['required']">Email is required</div>
          <div *ngIf="email.errors['email']">Invalid email</div>
          <div *ngIf="email.errors['uniqueEmail']">Email is used</div>
          </div>
        </div>
      <div class="form-group">
        <input
          type="text"
          class="form-control"
          id="firstname"
          formControlName="firstname"
          placeholder="{{dictionaryService.dictionary.firstName}}"
          [(ngModel)] = "user.firstName"
        />
      </div>
      <div class="form-group">
        <input
          type="text"
          class="form-control"
          id="lastname"
          formControlName="lastname"
          placeholder="{{dictionaryService.dictionary.lastName}}"
          [(ngModel)]="user.lastName"
        />
      </div>
        <div *ngIf="userForm.valid; else nothing">
            <a>
                <button [routerLink]="['../register-summary']" (click)="register()" [disabled]="userForm.invalid">{{dictionaryService.dictionary.register}}</button>
            </a>
        </div>
        <ng-template #nothing>

                <button (click)="register()" [disabled]="userForm.invalid">{{dictionaryService.dictionary.register}}</button>

        </ng-template>
    </form>
    <p class="message">
        {{dictionaryService.dictionary.alreadyRegister}}? <a [routerLink]="['/login']">{{dictionaryService.dictionary.login}}</a>
    </p>
  </div>
</div>
